<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form action="/register" method="post">
  	<div>
  		<%= title %> 		
  		<input name="name" type="textbox"></input>
  		<input type="submit" text="Register"></input>
  		<div>
  	</div>
  	</form>
  </body>
</html>